{% extends 'core/base.html' %}
{% block content %}
<div class='wraper container-fluid'>
	<form method='POST' class='' enctype='multipart/form-data'>{% csrf_token %}
		{{form.errors}}
		<div class='panel panel-default'>
			<div class='panel-heading clearfix'>
				<div class='pull-right'>
					<button type='submit' class='btn btn-inverse btn-md' name='master'><i class='glyphicon glyphicon-floppy-save' 
                        aria-hidden="true" 
                        data-toggle='tooltip' 
                        title='Save File'></i>
                    </button>
                    <a href="{% url '' %}">
                        <button type='button' class='btn btn-inverse btn-md'>
                            <i class='glyphicon glyphicon-folder-close' 
                            aria-hidden="true"
                            data-toggle='tooltip' 
                            title='Close File'></i>
                        </button>
                    </a>
                </div><!--/.pull-right-->
                <h3 class='panel-title'>{{ title }}</h3>
            </div><!--/.panel-heading clearfix-->
			<div class='panel-body'>
				<div class='row'>
					<div class='col-md-2'>
						<label>Parent ID</label>
						<input class='form-control' value='{{ interaction.parent_id }}' type='text' readonly>
					</div><!--/.col-md-2-->
					<div class='col-md-2'>
                        <label for='{{ form.interaction_type.auto_id }}'>Interaction Type
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.interaction_type.errors %} has-error {% endif %} has-feedback'>
							{{ form.interaction_type }}
                            {% if form.interaction_type.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
							{% endif %}
						</div><!--/.form-group-->
					</div><!--/.col-md-2-->
					<div class='col-md-2'>
						<label for='{{ form.interaction_method.auto_id }}'>Interaction Method
                            <span class='required'>*</span>
                        </label>
						<div class='form-group {% if form.interaction_method.errors %} has-error {% endif %} has-feedback'>
							{{ form.interaction_method }}
							{% if form.interaction_method.errors %}
							<span class='glyphicon glyphicon-remove form-control-feedback'></span>
							{% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-2-->
					<div class='col-md-2'>
                        <label for='{{ form.direction.auto_id }}'>Direction
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.direction.errors %} has-error {% endif %} has-feedback'>
                            {{ form.direction }}
							{% if form.direction.errors %}
							<span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-2-->
					<div class='col-md-2'>
                        <label for='{{ form.interaction_date.auto_id }}'>Date
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.interaction_date.errors %} has-error {% endif %} has-feedback'>
                            {{ form.interaction_date }}
                            {% if form.interaction_date.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
						</div><!--/.form-group-->
					</div><!--/.col-md-2-->
				</div><!--/.row-->
				<div class='row'>
					<div class='col-md-4'>
                        <label for='{{ form.interactor_name.auto_id }}'>Contact Name
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.interactor_name.errors %} has-error {% endif %} has-feedback'>
                            {{ form.interactor_name }}
                            {% if form.interactor_name.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-4-->
                    <div class='col-md-3'>
                        <label for='{{ form.relationship_to_site.auto_id }}'>Relationship to Site
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.relationship_to_site.errors %} has-error {% endif %} has-feedback'>
                            {{ form.relationship_to_site }}
                            {% if form.relationship_to_site.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-3-->
                    <div class='col-md-3'>
                        <label for='{{ form.email.auto_id }}'>Email
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.email.errors %} has-error {% endif %} has-feedback'>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-3-->
                    <div class='col-md-2'>
                        <label for='{{ form.phone.auto_id }}'>Telephone
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.phone.errors %} has-error {% endif %} has-feedback'>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-2-->
                </div><!--/.row-->
                <div class='row'>
                    <div class='col-md-12'>
                        <label for='{{ form.summary.auto_id }}'>Summary
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.summary.errors %} has-error {% endif %} has-feedback'>
                            {{ form.summary }}
                            {% if form.summary.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-12-->
                </div><!--/.row-->
                <div class='row'>
                    <div class='col-md-12'>
                        <label for='{{ form.narrative_description.auto_id }}'>Narrative Description
                            <span class='required'>*</span>
                        </label>
                        <div class='form-group {% if form.narrative_description.errors %} has-error {% endif %} has-feedback'>
                            {{ form.narrative_description }}
                            {% if form.narrative_description.errors %}
                            <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                            {% endif %}
                        </div><!--/.form-group-->
                    </div><!--/.col-md-12-->
                </div><!--/.row-->
			</div><!--/.panel-body-->
		</div><!--/.panel panel-default-->
	</form>			
</div><!--/.wraper container-fluid-->
{% endblock %}
