{% extends 'core/base.html' %}
{% block content %}
  <div class='wraper container-fluid'>
    <form method='POST' novalidate>{% csrf_token %}
      <div class='panel panel-default'>
        <div class='panel-heading clearfix'>
			<div class='pull-right'>
                <button type='submit' class='btn btn-inverse btn-md' name='master'>
                    <i class='glyphicon glyphicon-floppy-save' aria-hidden="true" data-toggle='tooltip' title='Save File'></i>
                </button>
                <a href="">
                    <button type='button' class='btn btn-inverse btn-md'>
                        <i class='glyphicon glyphicon-folder-close' aria-hidden="true"data-toggle='tooltip' title='Close File'></i>
                    </button>
                </a>
            </div><!--/.pull-right-->
          <h3 class='panel-title'>{{ title }}</h3>
        </div><!--/.panel-heading clearfix-->
        <div class='panel-body'>
            <div class='col-md-2'>
                <label for='{{ form.witness_type.auto_id }}'>Witness Type <span class='required'>*</span></label>
                <div class='form-group {% if form.witness_type.errors %} has-error {% endif %}'>
                    {{ form.witness_type }}
                </div><!--/.form-group-->
            </div><!--/.col-md-2-->
            <div class='col-md-2'>
                <label for='{{ form.first_name.auto_id }}'>First Name <span class='required'>*</span></label>
                <div class='form-group {% if form.witness_name.errors %} has-error {% endif %} has-feedback'>
                    {{ form.first_name }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->
            <div class='col-md-2'>
                <label for='{{ form.last_name.auto_id }}'>Last Name</label>
                <div class='form-group {% if form.last_name.errors %} has-error {% endif %} has-feedback'>
                    {{ form.last_name }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->
            <div class='col-md-2'>
                <label for='{{ form.dob.auto_id }}'>DOB</label>
                <div class='form-group {% if form.dob.errors %} has-error {% endif %} has-feedback'>
                    {{ form.dob }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->
            <div class='col-md-2'>
                <label for='{{ form.gender.auto_id }}'>Gender</label>
                <div class='form-group {% if form.gender.errors %} has-error {% endif %} has-feedback'>
                    {{ form.gender }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->                        
            <div class='col-md-2'>
                <label for='{{ form.status.auto_id }}'>Status</label>
                <div class='form-group {% if form.status.errors %} has-error {% endif %}'>
					{{ form.status }}
				</div><!--/.form-group-->
            </div><!--/.col-md-1-->
            <div class='col-md-3'>
                <label for='{{ form.address.auto_id }}'>Address</label>
                <div class='form-group {% if form.address.errors %} has-error {% endif %} has-feedback'>
                    {{ form.address }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->
            <div class='col-md-2'>
                <label for='{{ form.city.auto_id }}'>City</label>
                <div class='form-group {% if form.city.errors %} has-error {% endif %} has-feedback'>
                    {{ form.city }}
                </div><!--/.form-group-->
            </div><!--/.col-md-2-->
            <div class='col-md-2'>
                <label for='{{ form.country.auto_id }}'>Country</label>
                <div class='form-group {% if form.country.errors %} has-error {% endif %}'>
                    {{ form.country }}
				</div><!--/.form-group-->
            </div><!--/.col-md-2-->
            <div class='col-md-1'>
                <label for='{{ form.province.auto_id }}'>Prov/State</label>
                <div class='form-group {% if form.province.errors %} has-error {% endif %}'>
					{{ form.province }}
				</div><!--/.form-group-->
            </div><!--/.col-md-1-->
            <div class='col-md-2'>
                <label for='{{ form.pc.auto_id }}'>PC/ZIP</label>
                <div class='form-group {% if form.pc.errors %} has-error {% endif %} has-feedback'>
                    {{ form.pc }}
                </div><!--/.form-group-->
            </div><!--/.col-md-2-->
            <div class='col-md-2'>
                <label for='{{ form.primary_phone.auto_id }}'>Primary Phone <span class='required'>*</span></label>
                <div class='form-group {% if form.primary_phone.errors %} has-error {% endif %} has-feedback'>
                    {{ form.primary_phone }}
                </div><!--/.form-group-->
            </div><!--/.col-md-2-->
            <div class='col-md-3'>
                <label for='{{ form.email.auto_id }}'>Email</label>
                <div class='form-group {% if form.email.errors %} has-error {% endif %} has-feedback'>
                    {{ form.email }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->
            <div class='col-md-3'>
                <label for='{{ form.relationship.auto_id }}'>Relationship to Site</label>
                <div class='form-group {% if form.relationship.errors %} has-error {% endif %}'>
					{{ form.relationship }}
				</div><!--/.form-group-->
            </div><!--/.col-md-3-->
            <div class='col-md-2'>
                <label for='{{ form.statement.auto_id }}'>Statement Received?</label>
                <div class='form-group {% if form.statement.errors %} has-error {% endif %}'>
                    {{ form.statement }}
                </div><!--/.form-group-->
            </div><!--/.col-md-2-->
            <div class='col-md-3'>
                <label for='{{ form.mechanism.auto_id }}'>Mechanism</label>
                <div class='form-group {% if form.mechanism.errors %} has-error {% endif %}'>
                    {{ form.mechanism }}
                </div><!--/.form-group-->
            </div><!--/.col-md-3-->
        </div><!--/.panel-body-->
    </div><!--/.panel panel-default-->
    <div class='panel panel-default'>
        <div class='panel-heading clearfix'>
          <h3 class='panel-title'>Case Information</h3>
        </div><!--/.panel-heading clearfix-->
        <div class='panel-body'>
            <div class='col-md-3'>
                <label for='{{ form.case.auto_id }}'>Case Number <span class='required'>*</span></label>
                <div class='form-group {% if form.case.errors %} has-error {% endif %}'>
                    {{ form.case }}
                </div><!--/.form-group-->
            </div><!--/.col-md-4-->
            <div class='col-md-4'>
                <label for='{{ form.investigator.auto_id }}'>Investigator</label>
                <div class='form-group {% if form.investigator.errors %} has-error {% endif %}'>
					{{ form.investigator }}
				</div><!--/.form-group-->
            </div><!--/.col-md-4-->
            <div class='col-md-3'>
                <label for='{{ form.witness_number.auto_id }}'>Witness Number </label>
                <div class='form-group {% if form.witness_number.errors %} has-error {% endif %}'>
                    {{ form.witness_number }}
                </div><!--/.form-group-->
            </div><!--/.col-md-4-->                        
            <div class='col-md-2'>
                <label for='{{ form.case_status.auto_id }}'>Status</label>
                <div class='form-group {% if form.case_status.errors %} has-error {% endif %}'>
					{{ form.case_status }}
				</div><!--/.form-group-->
            </div><!--/.col-md-3-->

        </div><!--/.panel-body-->
    </div><!--/.panel panel-default-->
    {% if modify in "modify" %}        
    <div class='witness_tabs'>
        <nav>
            <ul class='nav nav-tabs'>
                <li class='active'>
                    <a data-toggle='tab' href='#witness_documents'>Documents</a></li>
                <li><a data-toggle='tab' href='#witness_interactions'>Interactions</a></li>
                <li><a data-toggle='tab' href='#operations'>Activities</a></li>
            </ul>
        </nav>
        <div class='tab-content'>
            <div id='witness_documents' class='tab-pane active'>
                <div class='panel panel-default'>
                    <div class='panel-heading clearfix'>
                        {% if modify in "modify" %}
                        <div class='pull-right'>
                            <a href="" button type='button' 
                            class='btn btn-inverse btn-md' 
                            data-toggle='modal' 
                            data-toggle='tooltip' 
                            title='New' 
                            data-target='#witness_document'>
                            <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div><!--/.pull-right-->
                        {% endif %}
                        <h3 class='panel-title'>Document History</h3>
                    </div><!--/.panel-heading-->
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-md-12 col-sm-12 col-xs-12'>
                                <div style="overflow-x:auto;">
                                    <table class='datatable table table-hover'>
                                        <thead>
                                            <tr>
                                                <th>Document ID</th>
												<th>Document Type</th>
												<th>Summary</th>
												<th>Author</th>
												<th>Received Date</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
                                        </thead>
                                        <tbody>
                                            {% for document in documents %}
                                            <tr>
                                                <td>{{ document.document_number }}</td>
												<td>{{ document.document_type }}</td>
												<td>{{ document.summary }}</td>
												<td>{{ document.author }}</td>
												<td>{{ document.received_date }}</td>
												<td>{{ document.status }}</td>
												<td><a href=''>
                                                    <span class='glyphicon glyphicon-folder-open'></span></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
							</div><!--/.col-md-12 col-sm-12 col-xs-12-->
						</div><!--/.row-->
					</div><!--/.panel-body-->
				</div><!--/.panel panel-default-->
			</div><!--/#documents-->
        <div id='witness_interactions' class='tab-pane fade'>
            <div class='panel panel-default'>
                <div class='panel-heading clearfix'>
                    {% if modify in 'modify' %}
                    <div class='pull-right'>
                      <a href="" button type='button' class='btn btn-inverse btn-md' data-toggle='modal' data-toggle='tooltip' title='New Interaction' data-target='#witness_interaction'><span class="glyphicon glyphicon-pencil"></span></a>
                     </div><!--/.pull-right-->
                    {% endif %}
                  <h3 class='panel-title'>Interaction History</h3>
                </div><!--/.panel-heading-->
                <div class='panel-body'>
                  <div class='row'>
                    <div class='col-md-12 col-sm-12 col-xs-12'>
                    <div style="overflow-x:auto;">
                      <table class='datatable table table-hover'>
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Relationship to Site</th>
                            <th>Phone</th>
                            <th>Type</th>
                            <th>Method</th>
                            <th>Date</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for interaction in interactions %}
                            <tr>
                              <td>{{ interaction.interaction_number }}</td>
                              <td>{{ interaction.interactor }}</td>
                              <td>{{ interaction.relationship }}</td>
                              <td>{{ interaction.phone }}</td>
                              <td>{{ interaction.interaction_type }}</td>
                              <td>{{ interaction.interaction_method }}</td>
                              <td>{{ interaction.interaction_date }}</td>
                              <td><a href='{% url 'modify_interaction' pk=interaction.pk %}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div><!--/.overflow-x:auto-->
                    </div><!--/.col-md-12 col-sm-12 col-xs-12-->
                  </div><!--/.row-->
                </div><!--/.panel-body-->
              </div><!--/.panel panel-default-->
              </div><!--/#interactions tab-->        
        <div id='witness_operations' class='tab-pane fade'>
            <div class='panel panel-default'>
              <div class='panel-heading clearfix'>
                {% if modify in "modify" %}
                  <div class='pull-right'>
                   <a href="" button type='button' class='btn btn-inverse btn-md' data-toggle='modal' data-toggle='tooltip' title='New Operation' data-target='#witness_operation'><span class="glyphicon glyphicon-pencil"></span></a>
                  </div><!--/.pull-right-->
                {% endif %}
                <h3 class='panel-title'>Operations History</h3>
              </div><!--/.panel-heading-->
              <div class='panel-body'>
                <div class='row'>
                  <div class='col-md-12 col-sm-12 col-xs-12'>
                   <div style="overflow-x:auto;">
                    <table class='datatable table table-hover'>
                      <thead>
                        <tr>
                          <th>Seq</th>
                          <th>Op ID</th>
                          <th>Operation Type</th>
                          <th>Summary</th>
                          <th>Assignee Group</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for operation in operations %}
                          <tr>
                            <td>{{ operation.seq }}</td>
                            <td>{{ operation.oper_num }}</td>
                            <td>{{ operation.oper_type }}</td>
                            <td>{{ operation.summary }}</td>
                            <td>{{ operation.coordinator_group }}</td>
                            <td>{{ operation.status }}</td>
                            <td><a href="" data-toggle='tooltip' title='Open'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div><!--/.overflow-x-->
                  </div><!--/.col-md-12 col-sm-12 col-xs-12-->
                </div><!--/.row-->
              </div><!--/.panel-body-->
            </div><!--/.panel panel-default-->
		</div><!--/#witness_operations-->        
    </div><!--/.tab-content-->
    {% endif %} <!--/.hide tabs for form that is new-->   
</form>
<!-- Relationship MODALS -->
{% if modify in "modify" %}
    <div id='witness_document' 
        class='modal fade' 
        tabindex='-1' 
        role='dialog' 
        aria-labelledby='WitnessDocument' 
        aria-hidden='true' 
        style='display: none;'>
        <div class='modal-dialog modal-lg'>
            <div class='modal-content p-0 b-0'>
                <div class='panel panel-color panel-inverse'>
                    <div class='panel-heading'>
                        <button type='button' 
                        class='close' 
                        data-dismiss='modal' 
                        aria-hidden='true' 
                        style='color: white;'>x</button>
                        <h3 class='panel-title'>Document</h3>
                    </div><!--/.panel-heading-->
                    <div class='panel-body'>
                        <form method='POST' 
                        name='witness_document'>
                        {% csrf_token %}{{ document_form.errors }}

                        <div class='col-md-4'>
                            <label for='{{ document_form.document_type.auto_id }}'>Type<span class='required'>*</span></label>
                            <div class='form-group {% if document_form.document_type.errors %} has-error {% endif %}'>
                              {{ document_form.document_type }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-4-->
                          <div class='col-md-6'>
                            <label for='{{ document_form.author.auto_id }}'>Author<span class='required'>*</span></label>
                            <div class='form-group {% if document_form.author.errors %} has-error {% endif %}'>
                              {{ document_form.author }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-3--> 
                          <div class='col-md-2'>
                            <label for='{{ document_form.status.auto_id }}'>Status<span class='required'>*</span></label>
                            <div class='form-group {% if document_form.status.errors %} has-error {% endif %}'>
                              {{ document_form.status }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-2-->                                                                 
                          <div class='col-md-4'>
                            <label for='{{ document_form.issued_date.auto_id }}'>Issued Date<span class='required'>*</span></label>
                            <div class='form-group {% if document_form.issued_date.errors %} has-error {% endif %}'>
                              {{ document_form.issued_date }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-4-->                           
                          <div class='col-md-4'>
                            <label for='{{ document_form.received_date.auto_id }}'>Received Date<span class='required'>*</span></label>
                            <div class='form-group {% if document_form.received_date.errors %} has-error {% endif %}'>
                              {{ document_form.received_date }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-4--> 
              
                          <div class='col-md-12'>
                            <label for='{{ document_form.summary.auto_id }}'>Summary<span class='required'>*</span></label>
                            <div class='form-group {% if document_form.summary.errors %} has-error {% endif %}'>
                              {{ document_form.summary }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-12--> 
                          <div class='col-md-12'>
                            <label for='{{ document_form.description.auto_id }}'>Detailed Description</label>
                            <div class='form-group {% if document_form.description.errors %} has-error {% endif %}'>
                              {{ document_form.description }}
                            </div><!--/.form-group-->
                          </div><!--/.col-md-12-->                           
                          <div class='row'>
                            <div class='col-md-12'>
                                <label for="{{ document_form.attachment.auto_id }}">Attachment</label>
                                <input class='form-control'
                                id="{{ document_form.attachment.auto_id }}" 
                                maxlength="{{ document_form.attachment.field.max_length }}"
                                name="{{ document_form.attachment.html_name }}" 
                                type="file">
                            </div><!--/.col-md-12-->
                        </div><!--/.row-->                        


                        <div class="row">
                            <div class="col-md-12">
                                <button type='submit' class='btn btn-inverse modal-btn pull-right' name='witness_document'>
                                    <i class='glyphicon glyphicon-floppy-save' aria-hidden="true"></i>
                                </button>
                            </div><!--/.col-md-12-->
                        </div><!--/.row-->
                    </form>
                </div><!--/.panel-body-->
            </div><!--/.panel-inverse-->
        </div><!--/.modal-content-->
    </div><!--/.modal-dialog-->
</div><!--/#witness_documents-->
<div id='witness_interaction' 
    class='modal fade' 
    tabindex='-1' 
    role='dialog' 
    aria-labelledby='WitnessInteraction' 
    aria-hidden='true' 
    style='display: none;'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content p-0 b-0'>
            <div class='panel panel-color panel-inverse'>
                <div class='panel-heading'>
                    <button type='button' 
                    class='close' 
                    data-dismiss='modal' 
                    aria-hidden='true' 
                    style='color: white;'>x</button>
                    <h3 class='panel-title'>New Interaction</h3>
                </div><!--/.panel-heading-->
                <div class='panel-body'>
                    <form method='POST' name='witness_interaction'>{% csrf_token %}
                        <div class='row'>
                            <div class='col-md-4'>
                                <label for='interaction_form.interaction_type.auto_id'>Interaction Type 
                                    <span class='required'>*</span>
                                </label>
                                <div class='form-group {% if interaction_form.interaction_type.errors %} has-error {% endif %}'>
                                    {{ interaction_form.interaction_type }}
                                </div><!--/.form-group-->
                            </div><!--/.col-md-4-->
                            <div class='col-md-4'>
                                <label for='interaction_form.interaction_method.auto_id'>Interaction Method 
                                    <span class='required'>*</span>
                                </label>
                                <div class='form-group {% if interaction_form.interaction_method.errors %} has-error {% endif %}'>
                                    {{ interaction_form.interaction_method }}
                                </div><!--/.form-group-->
                            </div><!--/.col-md-4-->
                            <div class='col-md-4'>
                                <label for='{{ interaction_form.interaction_date.auto_id }}'>Interaction Date 
                                    <span class='required'>*</span>
                                </label>
                                <div class='form-group {% if interaction_form.interaction_date.errors %} has-error {% endif %}'>
                                    {{ interaction_form.interaction_date }}
                                </div><!--/.form-group-->
                            </div><!--/.col-md-4-->
                        </div><!--/.row-->
                        <div class='row'>
                            <div class='col-md-8'>
                                <label for='{{ interaction_form.interactor.auto_id }}'>Contact Name 
                                    <span class='required'>*</span></label>
                                    <div class='form-group {% if interaction_form.interactor.errors %} has-error {% endif %} has-feedback'>
                                        {{ interaction_form.interactor }}
                                        {% if interaction_form.interactor.errors %}
                                        <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                                        {% endif %}
                                    </div><!--/.form-group-->
                                </div><!--/.col-md-8-->
                                <div class='col-md-4'>
                                    <label for='{{ interaction_form.relationship.auto_id }}'>Relationship to Witness 
                                        <span class='required'>*</span>
                                    </label>
                                    <div class='form-group {% if interaction_form.relationship.errors %} has-error {% endif %}'>
                                        {{ interaction_form.relationship }}
                                    </div><!--/.form-group-->
                                </div><!--/.col-md-4-->
                                <div class='col-md-4'>
                                    <label for='{{ interaction_form.email.auto_id }}'>Email Address</label>
                                    <div class='form-group {% if interaction_form.email.errors %} has-error {% endif %} has-feedback'>
                                        {{ interaction_form.email }}
                                        {% if interaction_form.email.errors %}
                                        <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                                        {% endif %}
                                    </div><!--/.form-group-->
                                </div><!--/.col-md-4-->
                                <div class='col-md-4'>
                                    <label for='{{ interaction_form.phone.auto_id }}'>Telephone Number 
                                        <span class='required'>*</span>
                                    </label>
                                    <div class='form-group {% if interaction_form.phone.errors %} has-error {% endif %} has-feedback'>
                                        {{ interaction_form.phone }}
                                        {% if interaction_form.phone.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        {% endif %}
                                    </div><!--/.form-group-->
                                </div><!--/.col-md-4-->
                                <div class='col-md-4'>
                                    <label for='{{ interaction_form.direction.auto_id }}'>Direction 
                                        <span class='required'>*</span>
                                    </label>
                                    <div class='form-group {% if interaction_form.phone.errors %} has-error {% endif %} has-feedback'>
                                        {{ interaction_form.direction }}
                                        {% if interaction_form.direction.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        {% endif %}
                                    </div><!--/.form-group-->
                                </div><!--/.col-md-4-->
                            </div><!--/.row-->
                            <div class='row'>
                                <div class='col-md-12'>
                                    <label for='{{ interaction_form.summary.auto_id  }}'>Summary 
                                        <span class='required'>*</span>
                                    </label>
                                    <div class='form-group {% if interaction_form.summary.errors %} has-error {% endif%} has-feedback'>
                                        {{ interaction_form.summary }}
                                        {% if interaction_form.summary.errors %}
                                        <span class='glyphicon glyphicon-remove form-control-feedback'></span>
                                        {% endif %}
                                    </div><!--/.form-group-->
                                </div><!--/.col-md-12-->
                            </div><!--/.row-->
                            <div class='row'>
                                <div class='col-md-12'>
                                    <label for='{{ interaction_form.description.auto_id }}'>Narrative Description</label>
                                    {{ interaction_form.description }}
                                </div><!--/.col-md-12-->
                            </div><!--/.row-->
                            <button type='submit' class='btn btn-inverse modal-btn pull-right' name='witness_interaction'>
                                <i class='glyphicon glyphicon-floppy-save' aria-hidden="true"></i>
                            </button>
                        </form>
                    </div><!--/.panel-body-->
                </div><!--/.panel-inverse-->
            </div><!--/.modal-content-->
        </div><!--/.modal-dialog-->
    </div><!--/#witness_interaction-->
    {% endif %}
    <!-- End Of Relationship Modals -->
</div><!--/.wraper container-fluid-->
<script type="text/javascipt">
    document.getElementById("activity_hidden").style.display = "none";
    $(document).ready(function(){
        var hidden = $(".hidden");
        $(hidden).hide();
    });
</script>
{% endblock %}
